<p>forms works!</p>

<!-- <form action="">
  <div class="form-group">
    <label for="id1">Value-1</label>
    <input id="id1" type="text" class="form-control" />
  </div>

  <div class="form-group">
    <label for="id2">Description</label>
    <textarea id="id2" cols="20" rows="5" class="form-control"> </textarea>
  </div>

  <button class="btn btn-primary">Submit</button>
</form> -->

<!-- <form action="">
  <div class="form-group">
    <label for="id1">Value-1</label>
    <input ngModel id="id1" name="V1" type="text" class="form-control" #V1="ngModel" (change)="changeV1(V1)" />
  </div>

  <div class="form-group">
    <label for="id2">Description</label>
    <textarea id="id2" cols="20" rows="5" class="form-control"> </textarea>
  </div>

  <button class="btn btn-primary">Submit</button>
</form> -->


<form action="">
  <div class="form-group">
    <label for="id1">Value-1</label>
    <input required ngModel id="id1" name="V1" type="text" class="form-control"
    #V1="ngModel"
    (change)="changeV1(V1)"
    minlength="5"
    maxlength="10"
    pattern="Mandeep"
    />

    <div class="alert alert-danger" *ngIf="V1.touched && !V1.valid">
      There is something wrong with textbox input...
    </div>
  </div>

  <div class="form-group">
    <label for="id2">Description</label>
    <textarea id="id2" cols="20" rows="5" class="form-control"> </textarea>
  </div>

  <button class="btn btn-primary">Submit</button>
</form>


